@charset "UTF-8";

body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}

.waiting-section {
	width: 60%;
	height: 50%;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12), 0 4px 6px
		rgba(0, 0, 0, 0.08);
}

.waiting-id {
	margin-left: 10px;
}

.btn.btn-secondary {
	float: right;
	margin-bottom: 10px;
}

.waiting-id {
	width: 100%;
	padding-top: 30px;
}

.waiting-member {
	float: left;
}

.nav-page-items {
	display: flex;
	justify-content: center;
}
/*사이드 아이콘 자리*/
input[id="menuicon"] {
	display: none;
}

input[id="menuicon"]+label {
	display: block;
	width: 60px;
	height: 40px;
	position: relative;
	cursor: pointer;
	position: fixed;
	top: 50%;
	left: 0;
	transition: all .35s;
}

input[id="menuicon"]+label span {
	display: block;
	position: absolute;
	width: 100%;
	height: 5px;
	z-index: 2;
	border-radius: 30px;
	background: #000;
	transition: all .35s;
}

input[id="menuicon"]+label span:nth-child(1) {
	top: 0;
}

input[id="menuicon"]+label span:nth-child(2) {
	top: 50%;
}

input[id="menuicon"]+label span:nth-child(3) {
	top: 100%;
}

input[id="menuicon"]:checked+label {
	z-index: 2;
	left: 240px;
}

input[id="menuicon"]:checked+label span:nth-child(1) {
	top: 50%;
	width: 50%;
	transform: translateY(50%) rotate(-135deg);
	background: white;
}

input[id="menuicon"]:checked+label span:nth-child(2) {
	opacity: 0;
}
input[id="menuicon"]:checked+label span:nth-child(3) {
	top: 50%;
	width: 50%;
	background: white;
	transform: translateY(50%) rotate(135deg);
}
div[class="sidebar"] {
	width: 300px;
	height: 100%;
	background: #222;
	position: fixed;
	top: 0px;
	left: -300px;
	z-index: 1;
	transition: all .35s;
	display: flex;
	justify-content: center;
	align-items: center;
}
input[id="menuicon"]:checked+label+div.sidebar {
	left: 0;
}
.my-page-div {
	margin-top: 10px;
	text-align: center;
	width: 180px;
	height: 200px;
	display: flex;
	flex-direction: column;
}

.my-page-a a:hover {
	color: gray;
}

.my-page-a a {
	text-decoration-line: none;
	color: white;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.2em;
}

.my-page-a div {
	margin: 10px;
}

p {
	font-weight: bold;
	font-size: 1.1em;
}

.member-id-div p {
	margin: 3px;
}

.member-id-div img {
	background-size: cover;
	width: 30px;
	height: 30px;
}
.past-reservation {
	margin-right: 40px;
}