
* {
  box-sizing: border-box;
}
.title-1 {
  top: auto; /* 고정 위치 제거 */
  left: auto; /* 고정 위치 제거 */
  position: relative; /* 고정 대신 상대적 위치 사용 */
  margin: 50px auto; /* 중앙 정렬 */
  width: 900px;
  padding: 20px;
  border: none; 
  box-sizing: border-box;
  min-height: 950px;
}
.title{
	  border: none;
}
.test2{
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  font-size: 16px;
  padding-left: 50px;
  text-align: left;
  vertical-align: baseline;
}
#text{
  width: 500px;
  height: 500px;
}
table{
  box-shadow: 1px 1px 10px 3px #555555;
}