<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	
	<!-- 
		typeAliases 예시
	<typeAliases>
			<typeAlias alias="Member" type="com.kh.damgarak.member.model.vo.Member"/>
	</typeAliases>
	 -->	
	 
	 <!-- 
		<mappers> 예시
		<mapper resource="/mappers/member-mapper.xml"/>
		</mappers>
	  -->

</configuration>