<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.damgarak.menu.model.mapper.MenuMapper">
	<!-- 건의함 조회 -->
	<select id="selSuggest" resultType="int">
		SELECT P.POST_NO, U.USERS_NAME, P.TITLE, P.CREATION_DATE
		FROM POST P
		JOIN USERS U ON P.USERS_ID = U.USERS_ID;
	</select>
	

</mapper>