<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.damgarak.menu.model.mapper.MenuMapper">

	<resultMap type="MenuSearchDTO" id="MenuSearchDTOMap">
		 <association property="menu" javaType="Menu">
		 	<id property="memNo" column="MENU_NO"/>
		 	<result property="menuName" column="MENU_NAME"/>
		 	<result property="categoryCode" column="CATEGORY_CODE"/>
		 	<result property="menuDescription" column="MENU_DESCRIPTION"/>
		 	<result property="calorie" column="CALORIE"/>
		 	<result property="price" column="PRICE"/>
		 	<result property="menuType" column="MENU_TYPE"/>
		 	<result property="menuImage" column="MENU_IMAGE"/>
		 </association>
		 
		 <association property="menuCategory" javaType="MenuCategory">
		 	<id property="categoryCode" column="CATEGORY_CODE"/>
		 	<result property="categoryName" column="CATEGORY_NAME"/>
		 </association>
		
		 <association property="suggestMenu" javaType="SuggestMenu">
		 	<id property="menuNo" column="MENU_NO"/>
		 	<result property="suggestStatus" column="SUGGEST_STATUS"/>
		 </association>	
	</resultMap>
	

    <select id="lunchBoxTopMenu" resultType="Menu">
    SELECT MENU_IMAGE , MENU_NAME, CALORIE,MENU_DESCRIPTION,
		  PRICE
		FROM (
		    SELECT MENU_IMAGE, MENU_NAME, CALORIE, PRICE, MENU_COUNT
		    ,
		    MENU_DESCRIPTION
		    FROM MENU
		    WHERE MENU_TYPE = 'l' OR MENU_TYPE = 'a'
		    ORDER BY MENU_COUNT DESC
		)
		WHERE ROWNUM &lt;= 10
	</select>
	
	<select id="restaurantTopMenu" resultType="Menu">
				    SELECT MENU_IMAGE, MENU_NAME, CALORIE,PRICE,
				    MENU_DESCRIPTION
		FROM (
		    SELECT MENU_IMAGE,  MENU_NAME, CALORIE, PRICE, MENU_COUNT,
		    MENU_DESCRIPTION
		    FROM MENU
		    WHERE MENU_TYPE = 'r' OR MENU_TYPE = 'a'
		    ORDER BY MENU_COUNT DESC
		)
		WHERE ROWNUM &lt;= 10
	</select>
 	
 	<!-- 도시락 베스트 메뉴 목록을 카테고리에 따라 가져오는 쿼리 -->
 	<select id="selectBestMenus" resultType="Menu">  
    SELECT MENU_NAME, MENU_DESCRIPTION, CALORIE, PRICE,
    MENU_IMAGE, CATEGORY_CODE
    FROM MENU   
    WHERE
    	<if test="categories != null">
            CATEGORY_CODE IN 
            <foreach item="category" collection="categories" open="(" separator="," close=")">
                #{category}
            </foreach>
    		 AND
    	
        </if>
     MENU_TYPE IN ('a','l')
     ORDER BY MENU_COUNT DESC
	</select>
	
	<!--  도시락 추천 메뉴 목록을 카테고리에 따라 가져오는 쿼리 -->
	<select id="selectSuggest" parameterType="list" resultType="Menu"> 
	    SELECT  M.MENU_NAME, M.MENU_DESCRIPTION,
    	M.CALORIE, M.PRICE, M.MENU_IMAGE, C.CATEGORY_NAME
    	FROM MENU M
	    JOIN SUGGEST_MENU S ON M.MENU_NO = S.MENU_NO
	    JOIN MENU_CATEGORY C ON M.CATEGORY_CODE = C.CATEGORY_CODE
	    
	    WHERE
	        <if test="categories != null">
	            CATEGORY_CODE IN 
	            <foreach item="category" collection="categories" open="(" separator="," close=")">
	                #{category}
	            </foreach>
	      		 AND
	        </if>
	     MENU_TYPE IN ('a','l') AND 
	   SUGGEST_STATUS = 'y'
	</select>
	
	
	<!-- 도시락 카테고리에 따라 전체 메뉴를 가져오는 쿼리 -->
	<select id="selectMenusCategories" resultType="Menu">
		  SELECT 
		 MENU_NAME, MENU_DESCRIPTION, 
 		CALORIE, PRICE, MENU_IMAGE
    	FROM MENU
		    WHERE
		        <if test="categories != null">
		            CATEGORY_CODE IN 
		            <foreach item="category" collection="categories" open="(" separator="," close=")">
		                #{category}
		            </foreach>
		   		 AND
		        </if>
		     MENU_TYPE IN ('a','l')
	</select>
	
	
		<!-- 식당 베스트 메뉴 조회 페이지 -->
		<select id="selectRestaurantBestMenus" parameterType="list" resultMap="MenuSearchDTOMap">
	    SELECT M.MENU_NAME, M.MENU_DESCRIPTION, C.CATEGORY_NAME,
	    M.CALORIE, M.PRICE, M.MENU_IMAGE
	   
	    FROM MENU M
	    
	    JOIN MENU_CATEGORY C ON M.CATEGORY_CODE = C.CATEGORY_CODE
	
	    WHERE
	        <if test="categories != null">
	            C.CATEGORY_NAME IN 
	            <foreach item="category" collection="categories" open="(" separator="," close=")">
	                #{category}  
	            </foreach>
	             AND  
	        </if>
	     MENU_TYPE IN ('a','r')
    	 ORDER BY MENU_COUNT DESC
	</select>

	<select id="selectRestaurantSuggest" parameterType="list" resultMap="MenuSearchDTOMap">
    SELECT M.MENU_NAME, M.MENU_DESCRIPTION, C.CATEGORY_NAME,
    M.CALORIE, M.PRICE, M.MENU_IMAGE
   
    FROM MENU M
    
    JOIN MENU_CATEGORY C ON M.CATEGORY_CODE = C.CATEGORY_CODE
    JOIN SUGGEST_MENU S ON M.MENU_NO = S.MENU_NO
    WHERE
        <if test="categories != null">
            C.CATEGORY_NAME IN 
            <foreach item="category" collection="categories" open="(" separator="," close=")">
                #{category}  
            </foreach>
             AND  
        </if>
    MENU_TYPE IN ('a','r') AND
    S.SUGGEST_STATUS = 'y'
</select>

	<select id="selectMenuRestaurantCategories" parameterType="list" resultMap="MenuSearchDTOMap">
    SELECT M.MENU_NAME, M.MENU_DESCRIPTION, C.CATEGORY_NAME,
    M.CALORIE, M.PRICE, M.MENU_IMAGE
   
    FROM MENU M
    
    JOIN MENU_CATEGORY C ON M.CATEGORY_CODE = C.CATEGORY_CODE
    WHERE
        <if test="categories != null">
            C.CATEGORY_NAME IN 
            <foreach item="category" collection="categories" open="(" separator="," close=")">
                #{category}  
            </foreach>
             AND  
        </if>
    MENU_TYPE IN ('a','r')
</select>
			
		
</mapper>
