<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.damgarak.menu.model.mapper.MenuMapper">

    <select id="lunchBoxTopMenu" resultType="Menu">
    SELECT *
    FROM MENU
    WHERE ROWNUM &lt;= 10 AND (MENU_TYPE = 'l' OR MENU_TYPE = 'a')   
    ORDER BY MENU_COUNT DESC
</select>

 <!-- 베스트 메뉴 목록을 카테고리에 따라 가져오는 쿼리 -->
    <select id="selectBestMenus" parameterType="map" resultType="Menu">
        SELECT * FROM MENU
        WHERE CATEGORY_CODE IN 
        <foreach item="category" collection="categories" open="(" separator="," close=")">
            #{category}
        </foreach>
        ORDER BY MENU_COUNT DESC
    </select>

    <!-- 추천 메뉴 목록을 카테고리에 따라 가져오는 쿼리 -->
    <select id="selectSuggest" parameterType="map" resultType="Menu">
        SELECT M.* FROM MENU M
        JOIN SUGGEST_MENU S ON M.MENU_NO = S.MENU_NO
        WHERE M.CATEGORY_CODE IN 
        <foreach item="category" collection="categories" open="(" separator="," close=")">
            #{category}
        </foreach>
    </select>

    <!-- 카테고리에 따라 전체 메뉴를 가져오는 쿼리 -->
    <select id="selectBestMenus" parameterType="map" resultType="Menu">
        SELECT * FROM MENU
        WHERE CATEGORY_CODE IN 
        <foreach item="category" collection="categories" open="(" separator="," close=")">
            #{category}
        </foreach>
    </select>




 
</mapper>
