<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.damgarak.post.model.mapper.PostMapper">
	
	<!-- 게시글 생성 -->
	<insert id="insertPost" parameterType="com.kh.damgarak.post.model.vo.Post">
    	INSERT INTO post (title, content, creation_Date,  user_Id, category_Code, reply_Comment, post_Category_Code, post_Category_Name)
    	VALUES (#{title}, #{content}, #{creation_Date}, #{user_Id}, #{category_Code}, #{reply_Comment}, #{post_Category_Code}, #{post_Category_Name})
  	</insert>	

	<update id="updateUserInfo" parameterType="map">
	    UPDATE users
	    SET users_name = #{userName},
	        email = #{email}
	        users_id = #{usersId}
	    WHERE users_id = #{userId}
	</update>

	<select id="selectListCount" resultType="int">
		SELECT COUNT(*) 
		FROM POST
		WHERE STATUS = 'Y'
	</select>

  <!-- 게시글 삭제 -->
  <delete id="deletePost" parameterType="int">
    DELETE FROM post
    WHERE post_No = #{post_No}
  </delete>
  
  

</mapper>
