<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.damgarak.tableReservation.model.mapper.TableReservationMapper">

	<insert id="createReservation"
	 parameterType="map"
	 >
			INSERT INTO RESERVATION 
			(RESERVATION_NO, 
			USERS_ID, 
			RESERVATION_DATE, 
			RESERVATION_STATUS)
			VALUES(
			RESERVATION_SEQ.NEXTVAL,
			#{usersId},
TO_DATE(#{reservationDate, jdbcType=VARCHAR}, 'yyyy-MM-dd HH24:MI'),
			 #{reservationStatus}
			)
	</insert>
	
	<insert id="createTableReservation" 
	parameterType="TableReservation"
	>
	INSERT INTO TABLE_RESERVATION
	(RESERVATION_NO,
	TABLE_NO
	)VALUES(
	RESERVATION_SEQ.CURRVAL,
	#{tableNo}
	)
	</insert> 
</mapper>