<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.damgarak.users.model.mapper.UserMapper">

	  <resultMap id="UsersResultMap" type="UsersLoginDTO">
        <result property="usersId" column="USERS_ID"/>
        <result property="usersPassword" column="USERS_PASSWORD"/>
        <result property="usersType" column="USERS_TYPE"/>
        <result property="employeeType" column="EMPLOYEE_TYPE"/>
    </resultMap>
	
	<select id="loginUser" resultMap="UsersResultMap">
		select u.USERS_ID, u.USERS_PASSWORD, u.USERS_TYPE, e.EMPLOYEE_TYPE 
		from USERS u 
		LEFT JOIN EMPLOYEE e on u.USERS_ID = e.USERS_ID
		where u.USERS_ID = #{usersId}  
		AND u.USERS_STATE = 'y'
 	</select>	
 
 	
		<insert id="logupUser" parameterType="Users">
		    INSERT INTO USERS 
		    (USERS_ID, 
		    USERS_NAME, 
		    USERS_PASSWORD, 
		    EMAIL, 
		    JOIN_DATE, 
		    USERS_STATE, 
		    USERS_TYPE)
		    
		    VALUES (#{usersId}, 
		    #{usersName}, 
		    #{usersPassword}, 
		    #{email}, 
		    SYSDATE, 
		    'y', 
		    #{usersType})
		</insert>
	 <select id="idCheck" resultType="_int">
	 	SELECT COUNT(*) COUNT
	 	FROM USERS
	 	WHERE USERS_ID = #{usersId}
	 </select>
	
	<select id="findUserId" resultType="String">
		SELECT SUBSTR(USERS_ID, 1, LENGTH(USERS_ID) - 3) || '***'
		FROM USERS
		WHERE USERS_NAME = #{userName} AND EMAIL = #{userMail}
	</select> 	
	
	<select id="findUserPwd" resultType="Users">
		SELECT * 
		FROM USERS
		WHERE USERS_NAME = #{userName} AND 
		USERS_ID = #{userId} AND EMAIL = #{userMail}
	</select>
	
	<update id="updateUserPassword">
	    UPDATE USERS
	    SET USERS_PASSWORD = #{password}
	    WHERE USERS_ID = #{userId}
	</update>
	
	<select id="emailCheck" resultType="Users">
		select EMAIL 
		FROM USERS
		WHERE EMAIL = #{email}
	</select>
	
	<select id="checkPassword" resultType="UsersLoginDTO">
		select USERS_ID, USERS_PASSWORD 
		FROM USERS
		WHERE USERS_ID = #{usersId}
	</select>
	
</mapper>


