<!-- LunchBoxyeongsujeung.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <title>결제 성공</title>
    <link rel="stylesheet" href="static/css/lunch-box/LunchBoxyeongsujeung.css">
    <script src="LunchBoxyeongsujeung.js" defer></script>
</head>

<body>
    <div class="box_section">
        <img width="120px" src="https://static.toss.im/illusts/check-blue-spot-ending-frame.png" />
        <h2>결제를 완료했어요</h2>

        <!-- 주문한 메뉴 간단히 표시 -->
        <div class="p-grid typography--p" style="margin-top: 20px">
            <div class="p-grid-col text--left"><b>주문한 메뉴:</b></div>
            <div class="p-grid-col text--right" id="orderedMenu"></div>
        </div>

        <!-- 주문번호와 결제금액 표시 -->
        <div class="p-grid typography--p" style="margin-top: 20px">
            <div class="p-grid-col text--left"><b>주문번호:</b></div>
            <div class="p-grid-col text--right" id="orderId"></div>
        </div>
        <div class="p-grid typography--p" style="margin-top: 10px">
            <div class="p-grid-col text--left"><b>결제금액:</b></div>
            <div class="p-grid-col text--right" id="amount"></div>
        </div>
    </div>
</body>
</html>
