<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도시락 예약</title>
    <link rel="stylesheet" href="static/css/lunch-box/LunchBoxReservation.css">
    <script src="static/js/lunch-box/LunchBoxReservation.js" defer></script>
</head>
<body>
    <div class="pos-container">
        <div class="main-content">
            <section class="reservation">
                <h2>도시락 예약하기</h2>
                <div id="calendar"></div> 
                <input type="hidden" id="date">
                
                <hr>
                <div class="choice-timer-div">
                    <div class="time-div-btns">
                        <div class="btns-div">
                            <button class="time-button" value="11:00">11:00</button>
                            <button class="time-button" value="11:30">11:30</button>
                            <button class="time-button" value="12:00">12:00</button>    
                            <button class="time-button" value="12:30">12:30</button>
                        </div>
                        <div class="btns-div">
                            <button class="time-button" value="13:00">13:00</button>
                            <button class="time-button" value="13:30">13:30</button>
                            <button class="time-button" value="14:00">14:00</button>
                            <button class="time-button" value="14:30">14:30</button>
                        </div>
                        
                    </div>
                </div>
                
                <div class="buttons">
                    <button id="historyBtn">이전</button>
                    <button id="cancelBtn">초기화</button>
                    <button id="reserveBtn">예약</button>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
