/* 사이드 아이콘 스타일 */
input[id="menuicon"] {
	display: none;
}
input[id="menuicon"]+label {
	display: block;
	width: 50px;
	height: 30px;
	position: relative;
	cursor: pointer;
	position: fixed;
	top: 20%;
	left: 30px;
	transition: all .35s;
}
input[id="menuicon"]+label span {
	display: block;
	position: absolute;
	width: 100%;
	height: 5px;
	z-index: 2;
	border-radius: 30px;
	background: #000;
	transition: all .35s;
}
input[id="menuicon"]+label span:nth-child(1) {
	top: 0;
}
input[id="menuicon"]+label span:nth-child(2) {
	top: 50%;
}
input[id="menuicon"]+label span:nth-child(3) {
	top: 100%;
}
input[id="menuicon"]:checked+label {
	z-index: 2;
	left: 240px;
}
input[id="menuicon"]:checked+label span:nth-child(1) {
	top: 50%;
	width: 50%;
	transform: translateY(50%) rotate(-135deg);
	background: white;
}
input[id="menuicon"]:checked+label span:nth-child(2) {
	opacity: 0;
}
input[id="menuicon"]:checked+label span:nth-child(3) {
	top: 50%;
	width: 50%;
	background: white;
	transform: translateY(50%) rotate(135deg);
}
.sidebar {
	width: 300px;
	height: 100%;
	background: #222;
	position: fixed;
	top: 0;
	left: -300px;
	z-index: 1;
	transition: all .35s;
	display: flex;
	justify-content: center;
	align-items: center;
}
input[id="menuicon"]:checked+label+.sidebar {
	left: 0;
}
.my-page-div {
	margin-top: 10px;
	text-align: center;
	width: 180px;
	height: 300px;
	display: flex;
	flex-direction: column;
}

.my-page-a{
	position: relative;
	top:10%;
	
	margin-top: -80px;
}
.my-page-a a:hover {
	color: gray;
}
.my-page-a a {
	text-decoration: none;
	color: white;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.2em;
}
.my-page-a div {
	margin: 10px;
}
p {
	font-weight: bold;
	font-size: 1.1em;
	color: white;
}
hr {
	background-color: white;
	color: white;
	opacity: 1;
}
.my-page-comment p {
	font-size: 0.9em !important;
	color: white;
	margin: 0;
}
/* 사이드 아이콘 스타일 */



