<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="static/css/common/footer.css">
</head>

<body>
    <footer id="footer">
        <div class="footerMenu">
            <ul>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보 취급방침</a></li>
                <li><a href="#">채용정보</a></li>
                <li><a href="#">전자금융 거래약관</a></li>
            </ul>
        </div>
        <div class="footerInfo">
            <p>㈜칠성파 | 두목 : 김창식 | 주소 서울 강남구 테헤란로10길 9 | 고객지원실 : 1544-9970 | 상담시간 : 연중무휴</p>
            <p>&copy; 2024 칠성파 All rights reserved.</p>
        </div>
    </footer>
</body>

</html>