<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>header</title>

</head>
<body>
	<header id="header">

		<img src="static/img/common/damgarak.svg" id="logoImg" alt="logo" /> <span
			id="logoText">啗加樂</span>

		<div id="navigator">
			<ul class="nav">
				<li><a href="#" class='headerText'>담가락</a>
					<ul>
						<li><a href="/intro">소개</a></li>
						<li><a href="/reservationInquiry">협력업체</a></li>
						<li><a href="/map">오시는 길</a></li>
					</ul></li>
				<li><a href="#" class='headerText'>메뉴</a>
					<ul>
						<li><a href="/lunchMenu">도시락 메뉴</a></li>
						<li><a href="/restaurantMenu">식당 메뉴</a></li>
					</ul></li>
				<div id='space'></div>
				<li><a href="#" class='headerText'>예약</a>
					<ul>

						<li><a href="/reservationTableTimeChoice">식당 좌석 예약</a></li>
						<li><a href="/choiceLunchBox">도시락 예약</a></li>

					</ul></li>
				<li><a href="#" class='headerText'>고객센터</a>
					<ul>
						<li><a href="#">건의함</a></li>
						<li><a href="#">공지사항</a></li>
					</ul></li>
			</ul>
			<ul id="singUpUl">
				<li><a href="/loginPage">로그인</a></li>
				<li>|</li>
				<li><a href="#">회원가입</a></li>
			</ul>
		</div>
	</header>
</body>
</html>