<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Damgarak</title>
</head>
<body>
  <section>
       <!--사이드 아이콘-->
        <input type="checkbox" id="menuicon">
        <label for="menuicon">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <div class="sidebar">
            <div class="my-page-div">
                <div class="my-page-a">
                    <div class="member-id-div">
                        <p>asdasdasdasda님</p>
                        <p>회원 페이지</p>
                        <hr>
                    </div>
                <div>
                    <a href="">개인 정보 확인</a>
                </div>

                <div>
                    <a href="">식당 예약 확인</a>
                </div>
                <div>
                    <a href="">도시락 예약 확인</a>
                </div>
                <div>
                    <a href="">메인으로</a>
                </div>
                <div>
                    <a href="">로그아웃</a>
                </div>
              </div>
            </div>
        </div>
    <!--사이드 아이콘-->
    </section>
</body>
</html>