<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>소개</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/damgarak/intro.css">
    <link rel="stylesheet" href="/static/css/common/footer.css" />
    <link rel="stylesheet" href="/static/css/common/header.css" />
</head>
<body>  
  <div th:replace="common/header::header" style="position: relative; z-index: 2;"></div>
    <section>
        <div class="container-sm container-md container-lg container-xl container-xxl">
            <!-- 첫 번째 섹션 -->
            <div class="partner-company-div">
                <div class="sec1 img-div-company">
                    <h1 class="h3-sec1">담가락은 <br>"담다"와 "더하다"의 의미를 가진 의미입니다.</h1>
                </div>
            </div>

            <!-- 두 번째 섹션 -->
            <div class="partner-company-div">
                <div class="sec2 img-div-company">
                    <h1 class="h3-sec2">여러 재료가 조화롭게 어우러지는 <br> 음식에 적합한 표현입니다.</h1>
                </div>
            </div>

            <!-- 세 번째 섹션 -->
            <div class="partner-company-div">
                <div class="sec3 img-div-company">
                    <h1 class="h3-sec3">그리고 우리 음식점은 <br> 음식과 도시락을 제공 합니다.</h1>
                </div>
            </div>
        </div>
	</section>

    <section class="footer-div-controller">
    	<div id="footer-div-controller" th:replace="common/footer :: footer" style="position: relative; "></div>    
    </section>

</body>
</html>