<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>건의함 확인</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="/static/js/post/board/board2.js"></script>
  <link rel="stylesheet" href="/static/css/post/boardcss/post3.css">
</head>
<body>
  <p style="text-align: center;">건의함 확인</p>
  <br>

  <button class="btn" id="bttn">&#9776;</button>
    <div id="menu-container">
        <th:block th:insert="~{post/board/manager/menu2 :: nav}"></th:block>
    </div>

  <div class="title-1">
    <div class="title">
      <div style="text-align: right;">
        <h5 th:text="'조회 ' + ${post.postCount}">조회수</h5>
        <h5 th:text="${#dates.format(post.creationDate, 'yyyy-MM-dd HH:mm')}">작성 날짜</h5>
       	<br>
      </div>
      <table id="TBA">
        <thead>
          <tr>
            <th class="test2">제목</th>
            <th class="test2" th:text="${post.title}">제목</th>
            <th class="test2">작성자</th>
            <th class="test2" th:text="${post.usersName}">작성자 이름</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="test2">내용</th>
            <th id="lucky" th:text="${post.content}">내용</th>
          </tr>
        </tbody>
      </table>
      <br><br><br>
      <div>
        <a href="javascript:history.back()" class="btn btn-secondary" id="navi">뒤로가기</a>
      </div>
      <br><br>
      <hr style="border: none; height: 2px; background-color: blue;">
      <br><br>
      
      <!-- 댓글 등록 영역 -->
	  <table id="replyArea" class="table" align="center">
	    <thead>
	        <tr>
	          <th colspan="2">
	            <textarea id="content" cols="55" rows="2" class="form-control" style="resize: none;" placeholder="댓글을 입력하세요"></textarea>
	          </th>
	          <th style="vertical-align:middle;">
	            <button id="addReply" class="btn btn-danger" onclick="addReply()">등록</button>
	          </th>
	        </tr>             
	    </thead>
	  </table>
      
      <!-- 댓글 영역 -->
	<div th:each="reply : ${replist}" id="even" style="display: flex; justify-content: space-between;">
      <span id="tel2" th:text="${reply.usersName}" style="text-align: left; flex: 1;"></span>
      <span id="tel3" th:text="${reply.replyComment}" style="text-align: center; flex: 1;"></span>
      <span id="tel4" th:text="${#dates.format(reply.creationDate, 'yyyy-MM-dd HH:mm')}" style="text-align: right; flex: 1;"></span>
    </div>

  	<br><br>

  </div>
</body>
</html>